/* Nunito Font */
@font-face {
  font-family: "Nunito";
  src: url("fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Montserrat Font */
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800; /* Extra Bold */
  font-style: normal;
}

:root {
  /* Background Colors */
  --background-color: #ffffff; /* Pure White */
  --background-alt: #f2f2f2; /* Soft Off-White */

  /* Primary Colors */
  --primary-color: #228b22; /* Forest Green */
  --primary-color-hover: #1d6a1d; /* Darker Forest Green for Hover */

  /* Accent Colors */
  --accent-color: #f4a261; /* Soft Coral */
  --accent-color-hover: #e4935c; /* Darker Soft Coral for Hover */

  /* Text Colors */
  --text-color: #3d405b; /* Dark Slate */

  /* Highlight Colors */
  --highlight-color: #e9c46a; /* Soft Yellow */

  --toastify-color-success: var(--primary-color, #84a98c);
  --toastify-color-error: #e76f51;
  --toastify-color-warning: var(--highlight-color, #f4a261);
  --toastify-color-info: var(--accent-color, #2f3e46);
  
  --toastify-text-color-light: var(--background-color, #fff);
  --toastify-text-color-dark: var(--text-color, #333);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Nunito", sans-serif;
  background-color: var(--background-alt);
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

.header {
  height: 60px;
  border: 1px solid black;
  border-bottom: 2px solid var(--primary-color);
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
  background-color: var(--background-alt); /* Added background for contrast */
}

.menu-icon {
  height: 50px;
  width: 50px;
  cursor: pointer;
  padding: 8px;
}

.menu-icon:hover {
  background-color: #e0e0e0;
  border-radius: 3px;
}
.icon {
  height: 16px;
  width: 16px;
}

.logo {
  display: flex;
  gap: 5px;
  height: 100%;
  align-items: center;
}

.logo-icon {
  height: 35px;
  width: 35px;
}

.logo-text {
  font-weight: 600;
  font-size: 0;
}

.taskly {
  font-size: 0;
}

.Task,
.ly {
  display: inline-block;
  font-size: 36px; /* Restore font size */
  font-weight: 900;
  letter-spacing: 0;
  font-family: "Montserrat";
}

.Task {
  color: var(--primary-color);
}

.ly {
  color: var(--highlight-color);
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
}

.sidebar {
  width: 20%;
  padding: 15px;
  background-color: var(--background-color);
  height: 100%;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0);
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  z-index: 10; /* Ensure sidebar is above other elements */
}

.sidebar.open {
  transform: translateX(-100%);
}

.main-container-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex: 1;
  margin-left: 20%;
  transition: margin-left 0.4s ease-in-out;
}

.main-container {
  flex: 1;
  padding: 20px 40px;
  background-color: var(--background-alt);
}

.main-container-wrapper.shifted {
  margin-left: 0;
}

h3 {
  font-weight: bolder;
  color: var(--text-color);
}

hr {
  border-bottom: 1px solid var(--text-color);
}

.home-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  color: var(--text-color);
  margin-bottom: 15px;
}

.home-item {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border-radius: 4px;
}

.home-item:hover {
  background-color: var(--primary-color-hover);
  cursor: pointer;
  color: var(--background-color);
}
.home-item > p {
  font-weight: 600;
  font-size: 14px;
}

.active {
  background-color: var(--primary-color);
  color: var(--background-color);
  border-radius: 2px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
  color: var(--text-color);
  margin-bottom: 15px;
  overflow-y: auto;
  height: 150px;
}

.project {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px;
  justify-content: space-between;
  cursor: pointer;
}
.project.open .dropdown-menu {
  display: flex;
}

.project:hover {
  background-color: var(--background-alt);
}

.active:hover {
  background-color: var(--primary-color-hover);
}

.project > div {
  display: flex;
  gap: 5px;
  align-items: center;
}

.project div > p {
  font-weight: 600;
  font-size: 14px;
}

.three-dot {
  height: 10px;
  width: 10px;
  cursor: pointer;
}

.project-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  align-items: flex-start;
}

.project-form.hidden {
  display: none;
}

.project-form > div {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.project-input {
  flex: 1;
  padding: 8px;
  font-size: 14px;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  color: var(--text-color);
}

.form-actions {
  display: flex;
  gap: 10px;
  width: 100%;
}

.btn-add,
.btn-cancel {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--background-color);
  border-radius: 5px;
  font-size: 16px;
}

.btn-add:hover {
  background-color: #6c957f;
}

.btn-cancel {
  background-color: red;
  color: var(--background-color);
}

.btn-cancel:hover {
  background-color: #cc0000;
}

.add-project {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.add-project:hover {
  background-color: var(--background-alt);
}

.main-heading {
  height: 80px;
  background-color: var(--primary-color);
  font-size: 26px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: var(--background-color);
  font-weight: bold;
  border-radius: 3px;
}

.todos-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  height: 65vh;
  overflow-y: auto;
}

.todo-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.todo-content {
  flex: 1;
}

.todo-title {
  font-weight: bold;
  color: var(--text-color);
  font-size: 16px;
}

.todo-desc {
  font-size: 14px;
  color: var(--text-color);
}

.todo-date {
  font-size: 12px;
  color: var(--text-color);
}

.todo-priority {
  font-size: 12px;
  font-weight: bold;
  padding: 2px 8px;
  border-radius: 4px;
  height: 25px;
}

.todo-priority.low {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.todo-priority.medium {
  background-color: var(--highlight-color);
  color: var(--text-color);
}

.todo-priority.high {
  background-color: #e76f51; /* Muted red for high priority */
  color: var(--background-color);
}

.todo-actions {
  position: relative;
  display: flex;
  align-items: center;
}

.badges {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: space-around;
  margin-top: 5px;
}

.todo-item.completed {
  background-color: #e0e0e0;
  color: #888888;
}

.status-badge {
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.status-badge.completed {
  background-color: #2a9d8f; /* Green for completed */
}

.status-badge.pending {
  background-color: #f4a261; /* Orange for pending */
}

.project-actions {
  position: relative;
  display: flex;
  align-items: center;
}

.project-dropdown {
  position: absolute;
  top: 100%;
  right: 20%;
  display: block;
  flex-direction: column;
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 60px;
  z-index: 1000;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  display: block;
  flex-direction: column;
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 80px;
  z-index: 1000;
}

.dropdown-item {
  padding: 5px;
  cursor: pointer;
  color: var(--text-color);
}

.dropdown-item:hover {
  background-color: var(--background-alt);
  color: var(--accent-color);
}

.menu-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.todo-actions.open .dropdown-menu {
  display: flex;
}

.edit-icon:hover,
.remove-icon:hover {
  color: var(--primary-color);
}

/* Styling for Add Task button */
.add-todo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--background-color);
  border-radius: 5px;
  margin-top: 20px;
}

.add-todo:hover {
  background-color: var(--accent-color-hover);
}

.add-todo p {
  font-weight: 600;
}

/* Styling for form */
.todo-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  margin-top: 10px;
  background-color: var(--background-alt);
  border-radius: 5px;
}

.todo-form.hidden {
  display: none;
}

.todo-title-input,
.todo-desc-input,
.todo-priority-input,
.todo-date-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
}

textarea.todo-desc-input {
  resize: vertical;
  height: 80px;
}

.form-actions {
  display: flex;
  gap: 10px;
}

.add-btn,
.cancel-btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--background-color);
  border-radius: 5px;
}

.cancel-btn {
  background-color: red;
}

.add-btn:hover {
  background-color: #6c957f;
}

.cancel-btn:hover {
  background-color: #cc0000;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%; /* Adjusted for mobile responsiveness */
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  cursor: pointer;
}

.btn-add::after,
.btn-cancel::after {
  content: attr(data-tooltip);
  position: absolute;
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  display: none;
}

.btn-add:hover::after,
.btn-cancel:hover::after {
  display: block;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 90%; /* Adjusted for mobile responsiveness */
  max-width: 500px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: -5px;
}

/* Style for overdue task */
.todo-item.overdue {
  background-color: #ffe6e6; /* Light red background */
}

.overdue-date {
  color: red; /* Red text for overdue dates */
}

.status-badge.overdue {
  background-color: red;
  color: white;
}

.no-todos-message {
  text-align: center;
  color: #888;
  font-size: 1.2em;
  margin: 20px 0;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
    padding: 15px; /* Increased padding for better spacing */
  }

  .sidebar {
    width: 100%;
    position: fixed; /* Changed to fixed for better mobile handling */
    top: 0; /* Aligns the sidebar to the top */
    left: 0; /* Aligns the sidebar to the left */
    height: 100%; /* Full height for the sidebar */
    background-color: #f8f9fa; /* Light background for better visibility */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Enhanced shadow for depth */
    transition: transform 0.3s ease; /* Smooth transition for opening/closing */
    transform: translateX(-100%); /* Initially hidden off-screen */
  }

  .sidebar.active {
    transform: translateX(0); /* Show sidebar when active */
  }

  .main-container-wrapper {
    margin-left: 0;
  }

  .main-container {
    padding: 15px; /* Increased padding for better spacing */
  }

  .menu-icon {
    width: 50px; /* Increased size for better touch targets */
    height: 50px;
  }

  .logo-icon {
    height: 35px; /* Increased size for better visibility */
    width: 35px;
  }

  .Task {
    font-size: 32px; /* Increased font size for better readability */
  }

  .ly {
    font-size: 32px; /* Increased font size for better readability */
  }

  .project-form {
    padding: 15px; /* Increased padding for better spacing */
  }

  .add-todo {
    padding: 10px; /* Increased padding for better touch targets */
  }

  .todo-item {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px; /* Added padding for better spacing */
  }

  .todo-title {
    font-size: 16px; /* Increased font size for better readability */
  }

  .todo-desc,
  .todo-date,
  .todo-priority {
    font-size: 14px; /* Increased font size for better readability */
  }

  .btn-add,
  .btn-cancel,
  .add-btn,
  .cancel-btn {
    width: 100%; /* Full width buttons on mobile */
    padding: 12px; /* Increased padding for better touch targets */
    font-size: 16px; /* Increased font size for better readability */
  }
}

/* Custom Toast Container Styles */
.Toastify__toast {
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.Toastify__toast--success {
  background: var(--toastify-color-success);
  color: var(--toastify-text-color-light);
}

.Toastify__toast--error {
  background: var(--toastify-color-error);
  color: var(--toastify-text-color-light);
}

.Toastify__toast--warning {
  background: var(--toastify-color-warning);
  color: var(--toastify-text-color-dark);
}

.Toastify__toast--info {
  background: var(--toastify-color-info);
  color: var(--toastify-text-color-light);
}

.Toastify__progress-bar {
  background: rgba(255, 255, 255, 0.7);
}
